mixin content
	.content
		.wrap
			button.btn.show Show
			button.btn.hide Hide
			.box
				.test.hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex odit voluptatem eaque hic excepturi amet explicabo consequuntur optio. Nostrum, dignissimos mollitia. A enim numquam nemo consequuntur delectus dicta labore ducimus autem sed quibusdam, porro mollitia fugit nisi amet, sequi, ut optio eligendi praesentium quam laboriosam itaque! Qui, laborum accusantium modi!