mixin head
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Fast Start
		meta(name="description" content="Вся Европа в одном билете")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
		//- link(rel="Shortcut Icon" href="img/favicon.ico" type="image/x-icon")
		link(type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
		link(type="text/css" rel="stylesheet" href="css/style.css")
